streamlit
python-dotenv
google-generativeai
Pillow
fpdf
streamlit_image_comparison
streamlit_drawable_canvas
googletrans
albumentations
torch
torchvision
pandas
plotly
numpy>=2.0.0
matplotlib
opencv-python
imgaug
opencv-python-headless
