streamlit
pandas
plotly
scikit-learn
requests
pyrebase
google-api-python-client
python-dotenv
fpdf
Pillow
imageio
imgaug==0.4.0
tqdm
torch==2.1.0
torchvision==0.16.0
matplotlib
numpy==1.26.4
streamlit-image-comparison
