streamlit
numpy==1.21.0
torch
torchvision
Pillow
opencv-python-headless
matplotlib
albumentations
imgaug
pandas
plotly
scikit-learn
fpdf2
google-generativeai
googletrans
streamlit-image-comparison
streamlit-drawable-canvas
python-dotenv
nest-asyncio
pyyaml
tqdm
scipy
